


body{

    background-color: #FFC584;

}
.container-calculator
{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
   
}
.box-calculator
{


   background-color: #023047;
   border-style: solid;
   border-radius: 10px;

   width: 400px;
   height: 20%;

   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 30px;
   

}


.button-style
{

  border-style: solid;
  border: 2px solid;
  border-radius: 10px;

  margin: 1px;


  justify-content: center;
  align-items: center;
  cursor: pointer;


  
}

@keyframes button-style{
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
  
.button-style:hover {
    animation: button-style 0.5s ease-in-out;
  }


/*.button-style:hover{

    transform: scale(1.20);

}*/

.numbers-box
{
background-color: #219EBC;
}
.operations
{
    background-color: #8ECAE6;
}
.behavior-numbers
{ 

  font-size: 2.50rem;
  font-weight: bold;

}
.numbers-color
{
    color: #fff;

}
.operations-color
{
    color: #ffffff;
}



.input-calculator{

  width: 100%;
  
}

.input-top{

  margin-top: 30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 0px;
  border-bottom: 0px;
  outline: none;
}

.input-bottom{
  
  
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  margin-top: 0px;
  border-top: 0px;
  margin-bottom: 30px;

 direction: rtl;

}